# App
NODE_ENV="development"
APP_NAME="NestApp"
SERVICE_URL="http://localhost:4001"

# Database
NODMAILER_PORT=587
NODMAILER_USER="dummyUser"
NODMAILER_PASS="username"
NODMAILER_HOST="smtp.example.com"


DB_URI='mongodb://localhost:27017/BbrBackend'
JWT_SECRET_KEY='dummy_jwt_secret_key@123"

