# App
NODE_ENV="development"
APP_NAME="NestApp"
SERVICE_URL="http://localhost:4001"

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=bbr_backend_user
DB_PASSWORD=bbr_backend_password
DB_NAME=bbr_backend